{% extends 'layout.html' %}

{% block content %}
    <div class="parse-interface">
        <div class="input-container">
            <button onclick="loadFile()">Load</button>
            <button onclick="runCode()">Run</button>
            <button onclick="saveFile()">Save</button>
            <button onclick="downloadFile()">Download</button>
        </div>
        <textarea class="file-content" id="file-content" readonly></textarea>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script src="{{ url_for('static', filename='js/parse.js') }}"></script>
{% endblock %}

